.container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

.index-item {
    display: inline-block;
    margin: 0.2em;
}

.index-item a:hover {
    text-decoration: underline;
}