<!DOCTYPE HTML>
<html>
<head>
    <title>Groups</title>
</head>
<body>
    <div id='groups_header'>
        <h1>Groups</h1>
    </div>
    <div id='groups'>
        {{#each this}}
        <div class='group'>
            {{#each members}}
                <!--
                TODO:
                Group name and list of member names
                ability to add a user to this group
                -->
            {{/each}}
        </div>
        {{/each}}
    </div>
</body>
</html>
