{{#each lists}}
    <div class="{{this.class}}">
        <h3>{{this.title}}</h3>
        <div class="member-of">
            {{#each this.memberOfs}}
                <ul>{{this.displayName}}</ul>
            {{/each}}
        </div>
    </div>
{{/each}}